.survey{
    position:absolute;
    left:0%;
    top:15%;
    width:100%;
    background-color:white;
    padding:30px;
}

.h2-signup{
    text-align:center;
}

.buttonLoc {
    
    position: absolute;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border:none;
    border-radius: 25px;
    cursor: pointer;
    width: 35%;
    top:100%;
    left: 42%;
   
  }