
.App{
    overflow-y:hidden;
}


.background-shape1{
    overflow:hidden;
    border-radius: 15% / 75%;
    background-color:#0beb98;
    position:absolute;
    width:150%;
    height:150%;
    right:0%;
    top:20%;
    z-index:-1;
}

.chart{
    position:absolute;
    left:1%;
    top:40%;
    width:40%;
}

.usage-title{
    position:absolute;
    left:14%;
    top:25%;
    color:white;
    font-family: 'Poppins', sans-serif;
}

.analysis{
    position:absolute;
    left:47%;
    top:30%;
    color:white;
    font-size:22px;
    font-family: 'Poppins', sans-serif;
}
.year1{
    position:absolute;
    left:42.5%;
    top:50%;
}

.year2{
    position:absolute;
    left:61%;
    top:50%;
}

.year3{
    position:absolute;
    left:79%;
    top:50%;
}

.green{
    color:#00d084;
}

.white{
    color:white;
}
